<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Mémorial de struthof</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  
</head>
<body>

<div >

        <h3  style="background-color:#780E47; heigth:50px; text-align:center; color:white">
            MEMORIAL DE NATZWEILER-STRUTHOF
        </h3>

</div> 

<div class="content">
            <img src="https://www.onac-vg.fr/sites/default/files/styles/home/public/2018-08/Centre%20europ%C3%A9en%20du%20r%C3%A9sistant%20d%C3%A9port%C3%A9%20-%20site%20du%20Struthof0002.jpg?itok=XS9zxJ7b" alt ="" width="1920" height="70" >
           
</div> 


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- <a class="navbar-brand" href="#">Navbar</a>  -->
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor09" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  <div class="collapse navbar-collapse" id="navbarColor01">


         <!--  logo    -->

                <div class="d-flex justify-content-around">
            <div class="">
                <a class="nav-link" href="/"><img src="images/logo-alsace-navette.png" height="30" alt=""></a>
                <title>Product</title>
                <circle cx="12" cy="12" r="10" />
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
                </svg>
                 <!--  logo   
                 <small class="d-block mb-3 text-muted">&copy; 2007-2019</small>
                -->
            </div>




            <!--  logo    -->


        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            <a class="nav-link" href="aeroport">Acceuil <span class="sr-only">(current)</span></a>
                </li>     <!--   href =transport -->
            <li class="nav-item active">
                <a class="nav-link" href="informations">Informations</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link " href="tarif">Tarif</a>        <!--   tarif -->
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="contact">Contact</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="galerieDuSite">Galerie</a>
            </li>
        </ul>
  </div>
</nav> </br>

<!--
<img style="height:100px;weidth:400px"
 src="http://sites.estvideo.net/college.anne.fr/dossier1/images1/strutof_2009/struthof_2009_12.jpg"
 alt ="Photo du memorial" title="image memorial"
 />
 -->
</br>
<h5 style="text-align:center"><strong> <em> Avant d'effectuer votre réservervation, merci de bien vouloir prendre connaissance des informations concernant: </em></strong></h5>
<div style="align:center">
<ul>
    <li >
        <a href="visiteDuSite"><strong>La visite du Site</strong> </a>

    </li>
      
    <li>
       <a href="horaireDuSite"><strong> Les horaires</strong> </a>
    </li>

    <li>
        <a href="tarifDuSite">  <strong>Les tarifs<strong></a>
    </li>
</ul>
</div>
    <h3 style="color:blue; text-align:center">
    Effectuer votre réservation
    </h3> 
<hr style="border:solid black 1px;width:75%;" />
<!--

<div class="form-group">
    <label for="exampleFormControlSelect1">Civilité</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Monsieur</option>
      <option>Madame</option>
      
    </select>
  </div>

 <div class="row">
    <div class="col">
     
      <input type="text" class="form-control" placeholder="Nom">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Prénoms">
    </div>
  </div>

  <div class="form-group">
        <label for="exampleFormControlInput1">Email</label>
     <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="adresse mail">
  </div>
  
</form>

-->


    <h3 style="text-align:center;color:#780E47">
        ALLER - SIMPLE
    </h3>
                    <!-- DATE DE DEPART -->
    <div class="d-flex justify-content-center">
                <div class="col-md-6 mb-3">
                        <div class="form-group">
                                <label for=""><em>Date de départ</em></label>
                                <input type="date" class="form-control" name="date_depart_aller" required>
                        </div>
                            
                            <div class="invalid-feedback">
                                Please choose a number.
                        </div>
                </div>
        </div>

                                    <!-- HEURE DE DEPART -->
        <div class="d-flex justify-content-center">
                        <div class="col-md-6 mb-3">
                            <div class="form-group" id="heure_aller">
                                <label for=""><em>Heure de départ</em></label>
                                <select class="form-control" name="horaire_depart_aller" onclick="HeureAller()">
                                    <option value="1">10h00</option>
                                    <option value="2">11h00</option>
                                    <option value="3">13h00</option>
                                    <option value="4">14h00</option>
                                    <option value="5">15h00</option>
                                    
                                </select>
                            </div>
                            <div class="invalid-feedback">
                                Please choose a number.
                            </div>
                        </div>
        </div>



        <div class="d-flex justify-content-center">
                        <div class="col-md-6 mb-3">
                            <div class="form-group" id="heure_aller">
                                <label for=""><em>Lieu de prise</em></label>
                                <select class="form-control" name="horaire_depart_aller" onclick="HeureAller()">
                                    <option value="1">Gare centrale</option>
                                    <option value="2">Palais des Droits de l'Homme</option>
                                    <option value="3">Hotel Hilton</option>
                                    
                                    
                                </select>
                            </div>
                            <div class="invalid-feedback">
                                Please choose a number.
                            </div>
                        </div>
        </div>



        <div class="d-flex justify-content-center">
                        <div class="col-md-6 mb-3">
                            <div class="form-group" id="heure_aller">
                                <label for=""><em>Nombre de personnes</em></label>
                                <select class="form-control" name="horaire_depart_aller" onclick="HeureAller()">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="3">4</option>
                                    
                                    
                                </select>
                                </br>
                                

                                 <button type="button" class="btn btn-warning">Reserver</button> 
                                 
                            </div>
                            <div class="invalid-feedback">
                                Please choose a number.
                            </div>
                        </div>
                       
        </div>   
<!--                 CENTRER MON BOUTON                           --> 



 <hr style="border:solid black 1px;width:75%;" />
 <h3 style="text-align:center;color:#780E47"> ALLER - RETOUR</h3>

 

<div class="d-flex justify-content-center">
            <div class="col-md-6 mb-3">
                    <div class="form-group">
                            <label for=""><em>Date de rétour</em></label>
                            <input type="date" class="form-control" name="date_depart_aller" required>
                    </div>
                          
                    <div class="invalid-feedback">
                            Please choose a number.
                    </div>
            </div>
</div>

    <div class="d-flex justify-content-center">
                    <div class="col-md-6 mb-3">
                        <div class="form-group" id="heure_aller">
                            <label for=""><em>Heure de prise à Struthof</em></label>
                            <select class="form-control" name="horaire_depart_aller" onclick="HeureAller()">
                                <option value="1">11h00</option>
                                <option value="2">14h00</option>
                                <option value="3">15h00</option>
                                <option value="4">16h00</option>
                                <option value="5">17h00</option>
                                
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Please choose a number.
                        </div>
                    </div>
    </div>
 
    <div class="d-flex justify-content-center">
                    <div class="col-md-6 mb-3">
                        <div class="form-group" id="heure_aller">
                            <label for=""><em>Lieu de dépot</em></label>
                            <select class="form-control" name="horaire_depart_aller" onclick="HeureAller()">
                                <option value="1">Gare centrale</option>
                                <option value="2">Palais des Droits de l'Homme</option>
                                <option value="3">Hotel Hilton</option>
                                
                                
                            </select>
                        </div>
                        <div class="invalid-feedback">
                            Please choose a number.
                        </div>
                    </div>
    </div>



     <div class="d-flex justify-content-center">
                    <div class="col-md-6 mb-3">
                        <div class="form-group" id="heure_aller">
                            <label for=""><em>Nombre de personnes</em></label>
                            <select class="form-control" name="horaire_depart_aller" onclick="HeureAller()">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="3">4</option>
                                
                                
                            </select>
                            </br>
                                

                            <button type="button" class="btn btn-warning">Reserver</button> 

                        </div>
                        <div class="invalid-feedback">
                            Please choose a number.
                        </div>
                    </div>
    </div>

<hr style="border:solid black 1px;width:75%;" />



<footer class="py-5" >
        <div class="d-flex justify-content-around">
            <div class="">
                <a class="nav-link" href="/"><img src="images/logo-alsace-navette.png" height="30" alt=""></a>
                <title>Product</title>
                <circle cx="12" cy="12" r="10" />
                <path
                    d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
                </svg>
                <small class="d-block mb-3 text-muted">&copy; 2007-2019</small>
            </div>
            <div class="">
                <h5>Principal</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/aeroport">Aeroport Shuttle</a></li>
                    <li><a class="text-muted" href="#">Shopping Shuttle</a></li>
                </ul>
            </div>
            <div class="">
                <h5>Services annexes</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Laissez-vous conduire</a></li>
                    <li><a class="text-muted" href="#">Europa Park</a></li>
                    <li><a class="text-muted" href="#">Tourisme Alsace</a></li>
                    <li><a class="text-muted" href="#">Royal Palace</a></li>
                    <li><a class="text-muted" href="transport">Transport Mémorial Struthof</a></li>
                </ul>
            </div>
            <div class="">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#" data-toggle="modal" data-target="#qui">Qui sommes-nous ?</a></li>
                    <li><a class="text-muted" href="#" data-toggle="modal" data-target="#MentionLegale"> Mention légal</a></li>
                    <li><a class="text-muted" href="#" data-toggle="modal" data-target="#CGV">CGV</a></li>
                    <li><a class="text-muted" href="#" data-toggle="modal" data-target="#RGPD">RGPD</a></li>
                </ul>
            </div>
            <div class="">
                <h5>Réseaux Sociaux</h5>
                 <ul class="list-unstyled text-small">

                <li>
                <a href="#">
                <img class="alignnone  wp-image-284" alt="facebook"
                 src="http://www.artecal.fr/wp-content/uploads/2014/01/facebook.png" width="30" height="30" />
                 </a>
                 </li>                           
                </ul>                  
            </div>
        </div>
        <div class="d-flex justify-content-around mt-2 mt-3">
            <a href="https://www.marque.alsace/"><img src="images/Alsace.png" alt=""></a>
            <a href=""><img src="images/RF.svg" alt="" height="72"></a>
        </div>
    </footer>
    







 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>

